Repository astronomer/helm.astronomer.io, pull requests merged in 2019-07, with the labels that each got.

#150 Pass connection string to default-db
  charts/airflow/templates/_helpers.yaml
Labels: area/airflow, area/helm

#151 Update Houston config to work with OpenId connect
  charts/astronomer/templates/houston/houston-configmap.yaml
Labels: area/helm, area/houston-api

#152 Add fernet key to kubernetes secrets
  charts/airflow/templates/configmap.yaml
Labels: area/airflow, area/helm

#159 Add ephemeral-storage to airflow pod resources
  charts/astronomer/templates/houston/houston-configmap.yaml
Labels: area/helm
